<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxito.wcr.mapper.CourseIssuesMapper">
    <resultMap id="CourseIssuesMap" type="CourseIssues">
        <id column="id" property="id"></id>
        <result column="node_id" property="nodeId"></result>
        <result column="gmt_create" property="gmtCreate"></result>
        <result column="gmt_modified" property="gmtModified"></result>
    </resultMap>
    <insert id="addCourseIssues" parameterType="CourseIssues" >
        INSERT INTO course_issue (node_id,content)
        VALUES (#{nodeId},#{content})
    </insert>

    <select id="getIssues" resultMap="CourseIssuesMap" >
        SELECT * FROM course_issue
        WHERE node_id=#{nodeId}
        ORDER BY ${sort} ${order} LIMIT #{offset},#{limit}
    </select>
    <select id="count" resultType="int">
        SELECT COUNT(*) FROM course_issue
        WHERE node_id=#{nodeId}
    </select>

    <delete id="deleteCourseIssues" parameterType="int">
        DELETE from course_issue WHERE id=#{id}
    </delete>

    <update id="updateCourseIssues" parameterType="CourseIssues">
        update course_issue
        set node_id=#{nodeId},content=#{content}
        where id = #{id}
    </update>

    <select id="getCourseIssuesByNodeIdList" resultMap="CourseIssuesMap">
        select * from course_issue
        where node_id in
        <foreach collection="array" item="nodeId" index="index" open="(" separator="," close=")">
            #{nodeId}
        </foreach>
    </select>

    <select id="getById" resultMap="CourseIssuesMap">
        select * from course_issue
        where id = #{id}
    </select>
</mapper>